
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(https://media.istockphoto.com/id/1135575969/fr/photo/fond.webp?b=1&s=170667a&w=0&k=20&c=7Zbxw55KWwhC9zvEEYRqg1hxtdn3WPhqG8BcW_3BYps=);
    margin:10px;
    background-color: rgba(0, 0, 0, 0.966);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.apropos a {
    color: rgba(255, 255, 255, 0.736);
    border: 1px solid rgba(255, 255, 255, 0.174);
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5em;
}

.apropos a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.736);
    color: black;
}

div.polaroid {
  width: 40%;
  background-color: white;
  box-shadow: 4px 3px 2px rgba(239, 235, 235, 0.408), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  text-align: center;
  padding: 10px;
}

.Contactes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    min-height: 0vh;
}

/* Animation property */
.div1 {
  animation: wiggle 2s linear ;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}