
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(https://media.istockphoto.com/id/1135575969/fr/photo/fond.webp?b=1&s=170667a&w=0&k=20&c=7Zbxw55KWwhC9zvEEYRqg1hxtdn3WPhqG8BcW_3BYps=);
    height: 100vh;
    margin:10px;
    background-color: rgba(0, 0, 0, 0.966);
}

.divprincipale {
    background-color: rgba(0, 0, 0, 0.927);
    border: 1px solid black;
    width: 85%;
    margin-top: 10px;
}


.apropos a {
    color: rgba(255, 255, 255, 0.736);
    border: 1px solid rgba(255, 255, 255, 0.174);
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5em;
}

.apropos a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.736);
    color: black;
}

.uk-card-body {
    font-size: 2em;
    border-radius: 5px;
}