
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-image: url(https://media.istockphoto.com/id/1135575969/fr/photo/fond.webp?b=1&s=170667a&w=0&k=20&c=7Zbxw55KWwhC9zvEEYRqg1hxtdn3WPhqG8BcW_3BYps=);
  color: rgba(255, 255, 255, 0.736);
}

.divprincipale {
  background-color: rgba(0, 0, 0, 0.927);
  border: 1px solid black;
  width: 85%;
  margin-top: 10px;
}

.portf {
  display: flex;
  justify-content: center;
}


.divprdeux {
  display: flex;
  justify-content: space-around;
}

.divpresentation {
  width: 60%;
  margin: 10px;
}
.photo {
  border-radius: 3px;
  width: 40%;
}

p {
  font-size: 1.1em;
  padding: 18px;
}

.conct {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.066);
  border-radius: 3px;
  margin: 20px;
  padding: 10px;
}

.conct a {
  color: rgba(255, 255, 255, 0.736);
  border: 1px solid rgba(255, 255, 255, 0.174);
  width: 80px;
  text-align: center;
  border-radius: 3px;
}

.conct a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.736);
  color: black;
}


.imgprojet {
  border-radius: 10px;
}

.divsize {
  width: 60%;
}

